{% extends "header_footer.html" %}

{% block main-link %}
<link rel="stylesheet" href="../static/style/about.css">
{% endblock %}


{% block main %}
<div class="container">
    <h1 class="main_title">The Turkish Inspiration Hotel chain</h1>
    <p class="main_description">The De-Art hotel chain consists of seven magnificent hotels located near the Novokosino and Vykhino metro stations, the Profsoyuznaya and Novye Cheremushki metro stations, the Taganskaya and Kropotkinskaya metro stations, Tekstilshchiki, and Aviamotornaya.</p>
    <p class="main_description">The convenient location, namely transport accessibility, and consistently high-quality service make our hotels a great choice for guests of the capital. All hotels in the chain offer hourly rates for certain room categories, which allows us to accommodate practical guests who value comfort and their own time. We also have special offers for romantics and newlyweds. We look forward to welcoming you as a regular guest at Turkish Inspiration Hotels!</p>
    <div class="tags_and_text">
        <div class="tags_grid">
            <div class="tag">
                <div class="tag_img" id="first_image"></div>
                <div class="tag_text">Possibility of hourly payment</div>
            </div>
            <div class="tag">
                <div class="tag_img" id="second_image"></div>
                <div class="tag_text">Inexpensive price</div>
            </div>
            <div class="tag">
                <div class="tag_img" id="third_image"></div>
                <div class="tag_text">Prompt booking and convenient payment</div>
            </div>
            <div class="tag">
                <div class="tag_img" id="fourth_image"></div>
                <div class="tag_text">Excellent service, Wi-Fi and the opportunity to order food in the room</div>
            </div>
        </div>
        <div class="text">
            <p>Today, more and more people are looking for comfortable apartments with hourly or nightly rates. The De Art hotel chain offers conditions that you will surely appreciate.</p>
            <p>Here you will find home comfort and coziness, as well as a lot of pleasant sensations. All rooms are decorated in a classic or modern style, using beautiful materials and fashionable furniture.</p>
            <p>Even the simplest standard room is equipped with a large bed with an orthopedic mattress and spacious lockers, as well as everything you need for a comfortable stay: satellite TV (plasma panel), a bathroom with modern plumbing, and sets of towels, bathrobes, disposable slippers, and shower sets.</p>
        </div>
    </div>
    <p class="bottom_text">We are waiting for you at the Turkish Inspiration hotels!</p>
</div>
{% endblock %}