{% extends "header_footer.html" %}

{% block main-link %}
<link rel="stylesheet" href="../static/style/booking.css">
{% endblock %}

{% block main %}
<div class="container formContainer">
    <div class="roomCard">
        <div class="roomImage"></div>
        <div class="nameTags">
            <h2 class="roomName"></h2>
            <ul class="tagsList">
                <li class="tagsListItem" id="square"></li>
                <li class="tagsListItem" id="bedType">Single bed</li>
                <li class="tagsListItem" id="roomsCount">Rooms: 1</li>
                <li class="tagsListItem" id="guestNumber">1 Guest</li>
            </ul>
        </div>
        <p id="roomDescription">This designer room features a double bed, sofa, comfortable work area, and panoramic views. A tea station, toiletries, robe, and slippers are provided for your comfort.</p>
    </div>
    <div class="mainForm">
        <div class="bookingDate">
            <div class="check_label">Check-in</div>
            <input type="date" class="check_date" id="checkInDate">
        </div>
        <div class="bookingDate">
            <div class="check_label">Check-out</div>
            <input type="date" class="check_date" id="checkOutDate">
        </div>
        <input type="number" class="bookingFormInput" id="guestsCount" placeholder="Guests" step="1">
        <input type="text" class="bookingFormInput" id="lastName" placeholder="Last name">
        <input type="text" class="bookingFormInput" id="firstName" placeholder="First name">
        <input type="text" class="bookingFormInput" id="middleName" placeholder="Middle name">
        <input type="phone" class="bookingFormInput" id="phoneNumber" placeholder="Phone number">
        <input type="email" class="bookingFormInput" id="email" placeholder="Email">
        <button id="bookingButton">Book</button>
        <div id="price"></div>
    </div>
    <div id="alert"></div>
</div>
<script src="../static/js/booking.js" type="module"></script>
{% endblock %}