{% extends "header_footer.html" %}

{% block main-link %}
<link rel="stylesheet" href="../static/style/style.css">
{% endblock %}


{% block main %}
<img src="../static/media/main-image.png" alt="Отель" class="main-image">
<section class="room-reserve">
    <div class="container">
        <form>
            <fieldset class="reservation" id="res">
                <p>Room reservation</p>
                <div class="date-input">
                    <div class="check-in_label">Check-in</div>
                    <input type="date" min="{{ today }}" value="{{ today }}" id="check-in_date">
                </div>
                <div class="date-input">
                    <div class="check-in_label">Check-out</div>
                    <input type="date" min="{{ tomorrow }}" value="{{ tomorrow }}" name="" id="check-out_date">
                </div>
                <div class="promo_container">
                    <p class="promo_label">Promo</p>
                    <input type="text" name="">
                </div>
                <div class="guests-number_container">
                    <select name="" id="guests">
                        <option value="1" selected disabled>Guests number</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
                <button type="submit" class="find-button">Find room</button>
            </fieldset>
        </form>
    </div>
</section>
<section class="services-a-events">
    <div class="container">
        <div class="services-a-events_wrapper">
            <h2>Services and Events</h2>
            <div class="cards">
                <div class="card">
                    <img src="../static/media/Services/main-pammukale.jpg" alt="" class="service_img">
                    <h3>Book a tour of Pamukkale</h3>
                    <p>White travertine terraces with clear turquoise water.</p>
                    <a href="/service_page/6" class="more-link">
                        More
                    </a>
                </div>
                <div class="card">
                    <img src="../static/media/Services/concept-healthcare-female-beauty-masseuses-make-massage-girl-woman-spa-salon_1.jpg" alt="" class="service_img">
                    <h3>Therapeutic massages</h3>
                    <p>Let your body relax</p>

                    <a href="/service_page/7" class="more-link">
                        More
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="rooms_section">
    <div class="container rooms_container">
        <h2>Rooms</h2>
        <div class="rooms">
            <div class="room">
                <a href="/room_page/6"><img src="../static/media/RoomClasses/Standart.png" alt="" class="room-img"></a>
                <div class="room_desc">
                    <p class="rooms_name">Standard</p>
                    <ul class="tags">
                        <li class="tag">17м<sup>2</sup></li>
                        <li class="tag">Single bed</li>
                        <li class="tag">Rooms: 1</li>
                        <li class="tag">Guests: 1</li>
                    </ul>
                    <p class="description">Ideal for families or groups, this suite comfortably accommodates up to 4 guests. Features a double bed with a choice of orthopedic mattress firmness, a private bathroom with bathtub and shower, and a smart TV. Enjoy premium amenities like MAYRVEDA herbal teas and eco-friendly toiletries.</p>
                </div>
            </div>
            <div class="room">
                <a href="/room_page/7"><img src="../static/media/RoomClasses/improved.png" alt="" class="room-img"></a>
                <div class="room_desc">
                    <p class="rooms_name">Improved</p>
                    <ul class="tags">
                        <li class="tag">24м<sup>2</sup></li>
                        <li class="tag">Double bed</li>
                        <li class="tag">Rooms: 2</li>
                        <li class="tag">Guests: 2</li>
                    </ul>
                    <p class="description">Enjoy a perfectly tailored stay in this room, featuring a double bed with your choice of orthopedic mattress firmness. It includes an en-suite shower, a smart TV, individual climate control, and premium amenities like MAYRVEDA herbal teas and organic toiletries for a comfortable and eco-conscious experience.</p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}