{% extends "header_footer.html" %}

{% block main-link %}
<link rel="stylesheet" href="../static/style/rooms.css">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Rooms</h1>
    <select name="sort" id="sort">
        <option value="ascPrice">По возрастанию цены</option>
        <option value="descPrice">По убыванию цены</option>
        <option value="ascSquare">По возрастанию площади</option>
        <option value="descSquare">По убыванию площади</option>
        <option value="ascRooms">По возрастанию количества комнат</option>
        <option value="descRooms">По убыванию количества комнат</option>
        <option value="ascGuests">По возрастанию количества гостей</option>
        <option value="descGuests">По убыванию количества гостей</option>
    </select>
    <input type="text" id="search">
    <div class="rooms_grid">

    </div>
</div>

<script src="../static/js/roomClasses.js" type="module"></script>
{% endblock %}