{% extends "header_footer.html" %}

{% block main-link %}
<link rel="stylesheet" href="../static/style/room.css">
{% endblock %}

{% block main %}

<div class="container">
    <div class="main-specifics">
        <img alt="Картинка номера" id="main-image">
        <div class="specifics">
            <ul class="specifics_list">
                <li class="specifics_list_items" id="squareMeters"></li>
                <li class="specifics_list_items" id="guestsCount"></li>
                <li class="specifics_list_items" id="bedsCount"></li>
                <li class="specifics_list_items" id="roomsCount"></li>
            </ul>
            <p id="roomCost"></p>
            <a id="book">Book</a>
        </div>
    </div>
    <div class="description">
        <h1>Description</h1>
        <p id="description"></p>
    </div>
</div>


<script src="../static/js/room.js" type="module"></script>
{% endblock %}