{% extends "header_footer.html" %}

{% block main-link %}
<link rel="stylesheet" href="../static/style/rooms.css">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Rooms</h1>
    <div class="rooms_grid">
        <div class="room-card">
            <img src="../static/media/Lux.png" alt="">
            <div class="main-information">
                <h2 class="main-information-title">{{ rooms.name_of_class }}</h2>
                <ul class="tags-list">
                    <li class="tags-list-item first">{{ rooms.square_meters }}м<sup>2</sup></li>
                    <li class="tags-list-item">{{ rooms.bed_types.bed_types }}</li>
                    <li class="tags-list-item">Rooms: {{ rooms.rooms }}</li>
                    <li class="tags-list-item">{{ rooms.guests }} Guest</li>
                </ul>
                <p class="description">{{ rooms.min_desc }}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}