{% extends "header_footer.html" %}

{% block main-link %}
<link rel="stylesheet" href="../static/style/rooms.css">
{% endblock %}

{% block main %}
<div class="container">
    <h1>Rooms</h1>
    <div class="rooms_grid">
        {% for room in rooms %}
        <div class="room-card">
            <a href="/room_page/{{ room.id }}">
                <img src="../static{{ room.image.url }}" alt="" class="room-img">
            </a>
            <div class="main-information">
                <h2 class="main-information-title">{{ room.name_of_class }}</h2>
                <ul class="tags-list">
                    <li class="tags-list-item first">{{ room.square_meters }}м<sup>2</sup></li>
                    <li class="tags-list-item">{{ room.bed_types.bed_types }}</li>
                    <li class="tags-list-item">Rooms: {{ room.rooms }}</li>
                    <li class="tags-list-item">Guests: {{ room.guests }}</li>
                </ul>
                <p class="description">{{ room.min_desc }}</p>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}