{% extends "header_footer.html" %}

{% load static %}

{% block main-link %}
<link rel="stylesheet" href="../static/style/service-page.css">
<style>
    .service-page-main-img {
        background-image: url("../static{{ service.main_image.url }}");
    } 

    .service-page-second-img {
        background-image: url("../static{{ service.second_image.url }}");
    } 

    .service-page-third-img {
        background-image: url("../static{{ service.third_image.url }}");
    } 
</style>
{% endblock %}

{% block main %}
<div class="container">
    <div class="service-page">
        <div class="service-page-img service-page-main-img"></div>
        <h1 class="service-title">{{ service.name }}</h1>
        <h2>{{ service.first_title }}</h2>
        <p>{{ service.first_paragraph }}</p>
        <div class="service-page-img service-page-second-img"></div>
        <h2>{{ service.second_title }}</h2>
        <p>{{ service.second_paragraph }}</p>
        <div class="service-page-img service-page-third-img"></div>
        <h2>{{ service.third_title }}</h2>
        <p>{{ service.third_paragraph }}</p>
        <p>{{ service.end_text }}</p>
    </div>
</div>
{% endblock %}