@import "null.css";

.main_title {

    padding: 130px 0px 50px 0px;
    color: #BFB29B;
    font-size: 48px;

}

.main_description {

    font-size: 20px;
    width: 80%;
    margin-bottom: 40px;

}

.tags_and_text {

    width: 100%;
    display: flex;
    gap: 180px;
    align-items: center;
    margin-bottom: 150px;

}

.tags_grid {

    display: grid;
    width: 45%;
    column-gap: 128px;
    row-gap: 40px;
    grid-template-columns: 168px 168px;

}

.tag {

    display: grid;
    row-gap: 10px;
    grid-template-rows: auto 1fr;
    font-size: 1.43rem;

}

.tag_img {

    width: 75px;
    aspect-ratio: 1/1;

}

#first_image {

    background-image: url("../media/about/Clock.svg");

}

#second_image {

    background-image: url("../media/about/money.svg");

}

#third_image {

    background-image: url("../media/about/Calendar.svg");

}

#fourth_image {

    background-image: url("../media/about/Service_Bell.svg");

}

.text p {

    margin-bottom: 30px;

}

.text p:last-child {

    margin-bottom: 0px;

}

.bottom_text {

    color: #BFB29B;
    font-size: 2.29rem;
    margin-bottom: 50px;

}