@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');

.container {

    font-family: "Alike Angular", serif;

}

.main-nav_list-item {

    font-family: "Konkhmer Sleokchher", system-ui;

}

.roomCard {

    width: 100%;
    height: 260px;
    background-color: #F8F3EA;
    display: flex;
    display: grid;
    grid-template-columns: auto 1fr 1fr;
    gap: 50px;
    margin-bottom: 50px;
    align-items: center;
    padding-right: 50px;

}

.roomImage {

    height: 100%;
    aspect-ratio: 1/1;
    background-size: cover;
    background-position: -70px;
    background-repeat: no-repeat;

}

.roomName {

    font-size: 2.29rem;
    margin-bottom: 35px;

}

.tagsList {

    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    gap: 30px;

}

.tagsListItem {

    text-align: center;
    padding: 8px 20px;
    background-color: #DCCEB4;
    font-size: 1.71rem;

}

sup {

    position: absolute;

}

#roomDescription {

    text-align: center;
    font-size: 1.4rem;

}

.mainForm {

    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 62.04%;
    gap: 30px;
    align-items: center;

}

.bookingFormInput {

    padding: 22px 10px;
    background-color: #EEE1CA;

}

.formContainer {

    padding: 50px 0px;

}

.bookingDate {

    background-color: #EEE1CA;
    padding: 17px 10px;

}

.check_date {

    background-color: #EEE1CA;
    width: 100%;

}

.check_label {

    font-size: 0.8rem;

}

.bookingFormInput::placeholder {

    color: black;

}

#bookingButton {

    padding: 12px 0px;
    font-size: 1.71rem;
    background-color: #DCCEB4;

}

#price {

    font-size: 1.71rem;

}

#alert {

    margin-top: 10px;
    font-size: 1.4rem;

}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}