@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');

main {
    padding: 50px 0px;
}

h1 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 2.14rem;
}

.rooms_grid {
    width: 100%;
    display: grid;
    grid-template-columns: 43.63% 43.63%;
    grid-template-rows: auto 1fr auto;
    justify-content: space-around;
    row-gap: 2.88rem;
}

.room-card {
    margin: 0 auto;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: subgrid;
    grid-row: span 2;
}

.main-information {
    padding: 30px;
    background-color: #F8F3EA;
}

.main-information-title {
    font-size: 28px;
    margin-bottom: 2.5rem;
}

.tags-list {
    width: 57%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.tags-list-item {
    padding: 9px 20px;
    background: #DCCEB4;
}

.tags-list-item:first-child {
    padding: 9px 20px 15px 20px;
}