@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');

main {
    font-family: "Alike Angular", serif;
}

.services-title {
    text-align: center;
    margin-bottom: 50px;
    font-size: 36px;
}