@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');

main {
    padding: 100px 0px;
}

.service-page {
    display: flex;
    flex-direction: column;
}

.service-page-img {
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: 50%;
    align-self: center;
    border: 4px solid #DCCEB4;
}

.service-page > * {
    margin-bottom: 35px;
}

.service-page > p:last-child {
    margin-bottom: 0px;
    font-size: 36px;
}

.service-title {
    font-size: 64px;
    align-self: center;
}

h2 {
    font-size: 40px;
}

p {
    font-size: 32px;
}
