@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');

.main-image {
    width: 100%;
    min-height: 810px;
}

.reservation{
    min-width: 750px;
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    padding: 35px 0px;
    font-family: "Alike Angular", serif;
}

.reservation > p:first-child{
    font-size: 20px;
}

.date-input {
    padding: 5px 0px 4px 8px;
    border: 2px solid #DCCEB4;
}

.check-in_label {
    margin-bottom: 3px;
}

.promo_container {
    padding: 2px 0px 10px 9px;
    font-size: 14px;
    border: 2px solid #DCCEB4;
}

#guests {
    background-image: url("../media/Forward.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;
    cursor: pointer;
    font-family: "Alike Angular", serif;
    font-size: 14px;
    -webkit-appearance: none;
    transition: 0.5s;
}

#guests:focus option:first-child {
    display: none;
}

.guests-number_container {
    padding: 13px 10px;
    border: 2px solid #DCCEB4;
}

.find-button {
    background-color: white;
    border: 2px solid #DCCEB4;
    padding: 13px 36px;
    transition: 0.5s;
}

.find-button:hover {
    transition: 0.5s;
    background-color: #DCCEB4;
}

.more-link {
    transition: 0.5s;
}

.more-link::before {
    content: url("../media/yellow-line.svg");
    margin-bottom: 15%;
    transition: 0.5s;
}

.more-link:hover::before {
    content: url("../media/golden.svg");
    transition: 0.5s;
}

.more-link:hover {
    color: #BEA40A;
    transition: 0.5s;
}

.services-a-events {
    background-color: #F8F3EA;
    padding: 36px 0px;
}

.services-a-events_wrapper {
    padding: 0px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 517px;
    font-family: "Alike Angular", serif;
}

.services-a-events_wrapper h2 {
    font-size: 36px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 433px;
}

.card h3 {
    font-size: 24px;
}
.card p {
    color: #707070;
    font-size: 20px;
}

.card a {
    color: #DFC941;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60px;
}

.rooms_section {
    padding: 27px 0px;
    font-family: "Alike Angular", serif;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
}

.room-img {
    margin-bottom: 40px;
    width: 100%;
    transition: 0.5s;
}

.room-img:hover {

    transform: scale(1.05);
    transition: 0.5s;

}

.room_desc {
    display: flex;
    flex-direction: column;
    padding: 32px;
    background-color: #F8F3EA;
    max-width: 500px;
    flex-grow: 1;
}

.room_desc > p:first-child{
    margin-bottom: 30px;
}

.description {
    text-align: center;
}

.room_desc > p:first-child {
    font-size: 28px;
}

.rooms_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0px 48px;
}

.rooms_container > h2:first-child {
    margin-bottom: 30px;
} 

.rooms_container h2 {
    font-size: 36px;
}

.tags {
    width: 72.2%;
    display: grid;
    grid-template-columns: 47.65% 47.65%;
    justify-content: space-between;
    row-gap: 1.13rem;
    margin-bottom: 1.63rem;
}

.tag {
    padding: 15px 0px;
    background: #DCCEB4;
    text-align: center;
    font-size: 1.5rem;
}

.description {
    font-size: 28px;
}

.rooms {
    display: grid;
    width: 100%;
    justify-content: space-around;
    grid-template-columns: 43.63% 43.63%;
}

.service_img {
    width: 35.7rem;
    height: 21.43rem;
    display: inline-block;
}