@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');

header{
    font-family: "Konkhmer Sleokchher", system-ui;
    margin-bottom: 25px;
}

body {
    padding: 25px 0px;
}

.reservation {
    font-family: "Alike Angular", serif;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-footer{
    margin-top: auto;
    width: 100%;
}

.container{
    width: 1146px;
    margin: 0 auto;
}


.main-nav_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-image {
    width: 100%;
    min-height: 810px;
}

.reservation{
    min-width: 750px;
    display: flex;
    justify-content: space-between; 
    align-items: center;   
    padding: 35px 0px;
}

.reservation > p:first-child{
    font-size: 20px;
}

.date-input {
    padding: 5px 0px 4px 8px;
    border: 2px solid #DCCEB4;
}

.check-in_label {
    margin-bottom: 3px;
}

.promo_container {
    padding: 2px 0px 10px 9px;
    font-size: 14px;
    border: 2px solid #DCCEB4;
}

#guests {
    background-image: url("../media/Forward.svg");
    background-repeat: no-repeat;
    background-position: right center;
    padding-right: 15px;
    cursor: pointer;
    font-family: "Alike Angular", serif;
    font-size: 14px;
    -webkit-appearance: none;
}

#guests:focus option:first-child {
    display: none;
}

.guests-number_container {
    padding: 13px 10px;
    border: 2px solid #DCCEB4;
}

.find-button {
    background-color: white;
    border: 2px solid #DCCEB4;
    padding: 13px 36px;
}

.services-a-events {
    background-color: #F8F3EA;
    padding: 36px 0px;
}

.services-a-events_wrapper {
    padding: 0px 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    min-height: 517px;
    font-family: "Alike Angular", serif;
}

.services-a-events_wrapper h2 {
    font-size: 36px;
}

.cards {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 433px;
    
}

.card h3 {
    font-size: 24px;
}
.card p {
    color: #707070;
    font-size: 20px;
}

.card a {
    color: #DFC941;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 60px;
}

.rooms {
    padding: 27px 0px;
    font-family: "Alike Angular", serif;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.room {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.room > img {
    margin-bottom: 40px;
}

.room_desc {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 32px;
    background-color: #F8F3EA;
    max-width: 500px;
    flex-grow: 1;
}

.description {
    text-align: center;
}

.room_desc > p:first-child {
    font-size: 28px;
}

.rooms_container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.rooms_container h2 {
    font-size: 36px;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    max-width: 436px;
    justify-content: space-between;
    gap: 20px 0px;
}

.tag {
    font-size: 24px;
    padding: 9px 20px;
    background-color: #DCCEB4;
}

.description {
    font-size: 28px;
}