@import "null.css";

@import url('https://fonts.googleapis.com/css2?family=Konkhmer+Sleokchher&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alike+Angular&display=swap');

header{
    font-family: "Konkhmer Sleokchher", system-ui;
    margin-bottom: 25px;
}

body {
    padding: 25px 0px;
}

.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-footer{
    margin-top: auto;
    height: 30px;
    width: 100%;
}

.container{
    width: 1146px;
    margin: 0 auto;
}


.main-nav_list {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.main-image {
    width: 100%;
    min-height: 810px;
}

.reservation{
    min-width: 750px;
    display: flex;
    justify-content: space-between;    
    padding: 35px 0px;
}

.reservation p:first-child{
    font-family: "Alike Angular", serif;
    font-size: 20px;
}

#check-in_date {
    
}